body {
    background-color: rgb(111, 139, 202);
    text-align: center;
}

.content {
    text-align: center;
    font-size: 24px;
}

.r1,
.r2,
.r3,
.r4 {
    background-color: rgb(192, 192, 192);
    height: 300px;
    width: 300px;
    margin: auto;
}


.Fußnote {
    font-size: 14px;
    font-style: italic;
    text-align: right;
}